@{
    ViewData["Title"] = "Home Page";
}




<div class="container">

    <div class="card">
        <div class="card-header">Please Calculate the Employee Benefits Below</div>
        <div class="card-body">
            <center>
                <a asp-action="Calculate" asp-controller="Benefits" class="btn btn-info">Calculate Costs</a>


            </center>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
